USE [BD_NEWMONT_OCR_PDF]
GO
/****** Object:  Table [dbo].[MARCHIVO]    Script Date: 28/10/2025 09:09:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MARCHIVO](
	[iMArchivo] [bigint] IDENTITY(1,1) NOT NULL,
	[tNombre] [varchar](50) NULL,
	[tRuta] [varchar](max) NULL,
	[iMArchivoTipo] [int] NOT NULL,
	[fRegistro] [datetime] NULL,
 CONSTRAINT [PK_MARCHIVO] PRIMARY KEY CLUSTERED 
(
	[iMArchivo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MARCHIVO_TIPO]    Script Date: 28/10/2025 09:09:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MARCHIVO_TIPO](
	[iMArchivoTipo] [int] IDENTITY(1,1) NOT NULL,
	[tArchivo] [varchar](50) NULL,
 CONSTRAINT [PK_MARCHIVO_TIPO] PRIMARY KEY CLUSTERED 
(
	[iMArchivoTipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MCOMPROBANTE]    Script Date: 28/10/2025 09:09:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MCOMPROBANTE](
	[iMComprobante] [bigint] IDENTITY(1,1) NOT NULL,
	[iMHoja] [bigint] NOT NULL,
	[iMNaturaleza] [int] NOT NULL,
	[tSerie] [varchar](50) NULL,
	[tNumero] [varchar](50) NULL,
	[iMDivisa] [int] NOT NULL,
	[fEmision] [date] NULL,
	[iMProveedor] [bigint] NOT NULL,
	[tCliente] [varchar](max) NULL,
	[fRegistro] [datetime] NULL,
	[nPrecioTotal] [decimal](18, 2) NULL,
	[nPrecioTotalConvertido] [decimal](18, 2) NULL,
 CONSTRAINT [PK_MCOMPROBANTE] PRIMARY KEY CLUSTERED 
(
	[iMComprobante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MCOMPROBANTE_DETALLE]    Script Date: 28/10/2025 09:09:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MCOMPROBANTE_DETALLE](
	[iMComprobanteDetalle] [bigint] IDENTITY(1,1) NOT NULL,
	[iMComprobante] [bigint] NOT NULL,
	[nCantidad] [decimal](18, 2) NULL,
	[iMUnidad] [int] NOT NULL,
	[tDescripcion] [varchar](max) NULL,
	[nPrecioUnitario] [decimal](18, 2) NULL,
	[nPrecioTotal] [decimal](18, 2) NULL,
	[fRegistro] [datetime] NULL,
 CONSTRAINT [PK_MCOMPROBANTE_DETALLE] PRIMARY KEY CLUSTERED 
(
	[iMComprobanteDetalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MDIVISA]    Script Date: 28/10/2025 09:09:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MDIVISA](
	[iMDivisa] [int] IDENTITY(1,1) NOT NULL,
	[tDivisa] [varchar](50) NULL,
 CONSTRAINT [PK_MDIVISA] PRIMARY KEY CLUSTERED 
(
	[iMDivisa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MDOCUMENTO_TIPO]    Script Date: 28/10/2025 09:09:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MDOCUMENTO_TIPO](
	[iMDocumentoTipo] [int] IDENTITY(1,1) NOT NULL,
	[tTipo] [varchar](50) NULL,
 CONSTRAINT [PK_MDOCUMENTO_TIPO] PRIMARY KEY CLUSTERED 
(
	[iMDocumentoTipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MHOJA]    Script Date: 28/10/2025 09:09:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MHOJA](
	[iMHoja] [bigint] IDENTITY(1,1) NOT NULL,
	[iMArchivo] [bigint] NOT NULL,
	[iNroHoja] [int] NULL,
	[tSequentialNumber] [varchar](50) NULL,
	[lFormato] [bit] NULL,
	[iMIdioma] [bigint] NOT NULL,
	[iMDocumentoTipo] [int] NOT NULL,
	[tJson] [nvarchar](max) NULL,
	[tJsonTraducido] [nvarchar](max) NULL,
	[fRegistro] [datetime] NULL,
 CONSTRAINT [PK_MHOJA] PRIMARY KEY CLUSTERED 
(
	[iMHoja] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MIDIOMA]    Script Date: 28/10/2025 09:09:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MIDIOMA](
	[iMIdioma] [bigint] IDENTITY(1,1) NOT NULL,
	[tIdioma] [varchar](50) NULL,
 CONSTRAINT [PK_MIDIOMA] PRIMARY KEY CLUSTERED 
(
	[iMIdioma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MJORNADA]    Script Date: 28/10/2025 09:09:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MJORNADA](
	[iMJornada] [bigint] IDENTITY(1,1) NOT NULL,
	[iMHoja] [bigint] NOT NULL,
	[fRegistro] [datetime] NULL,
	[nTotalHoras] [decimal](10, 2) NULL,
 CONSTRAINT [PK_MJORNADA] PRIMARY KEY CLUSTERED 
(
	[iMJornada] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MJORNADA_EMPLEADO]    Script Date: 28/10/2025 09:09:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MJORNADA_EMPLEADO](
	[iMEmpleado] [bigint] IDENTITY(1,1) NOT NULL,
	[iMJornada] [bigint] NULL,
	[tNumero] [nvarchar](50) NOT NULL,
	[tNombre] [varchar](250) NULL,
	[tOrganizacion] [varchar](50) NULL,
	[fRegistro] [datetime] NULL,
 CONSTRAINT [PK__DEMPLEAD__88B513947DAABFAB] PRIMARY KEY CLUSTERED 
(
	[iMEmpleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MNATURALEZA]    Script Date: 28/10/2025 09:09:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MNATURALEZA](
	[iMNaturaleza] [int] IDENTITY(1,1) NOT NULL,
	[tNaturaleza] [varchar](50) NULL,
 CONSTRAINT [PK_MNATURALEZA] PRIMARY KEY CLUSTERED 
(
	[iMNaturaleza] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MPROVEEDOR]    Script Date: 28/10/2025 09:09:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MPROVEEDOR](
	[iMProveedor] [bigint] IDENTITY(1,1) NOT NULL,
	[tNumeroFiscal] [varchar](50) NULL,
	[tRazonSocial] [varchar](max) NULL,
 CONSTRAINT [PK_MPROVEEDOR] PRIMARY KEY CLUSTERED 
(
	[iMProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MRESUMEN]    Script Date: 28/10/2025 09:09:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MRESUMEN](
	[iMResumen] [bigint] IDENTITY(1,1) NOT NULL,
	[iMHoja] [bigint] NULL,
	[tjobno] [varchar](50) NULL,
	[ttype] [varchar](100) NULL,
	[tsourcereference] [varchar](50) NULL,
	[tsourcerefid] [varchar](250) NULL,
	[tdescription] [varchar](250) NULL,
	[nImporte] [decimal](18, 2) NULL,
	[tStampname] [varchar](50) NULL,
	[tsequentialnumber] [varchar](50) NULL,
	[fRegistro] [datetime] NULL,
 CONSTRAINT [PK__MRESUMEN__C8B1DF7A982060C9] PRIMARY KEY CLUSTERED 
(
	[iMResumen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MUNIDAD_MEDIDA]    Script Date: 28/10/2025 09:09:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MUNIDAD_MEDIDA](
	[iMUnidad] [int] IDENTITY(1,1) NOT NULL,
	[tUnidad] [varchar](50) NULL,
 CONSTRAINT [PK_MUNIDAD_MEDIDA] PRIMARY KEY CLUSTERED 
(
	[iMUnidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MARCHIVO] ADD  CONSTRAINT [DF_MARCHIVO_fRegistro]  DEFAULT (getdate()) FOR [fRegistro]
GO
ALTER TABLE [dbo].[MCOMPROBANTE] ADD  CONSTRAINT [DF_MCOMPROBANTE_fRegistro]  DEFAULT (getdate()) FOR [fRegistro]
GO
ALTER TABLE [dbo].[MCOMPROBANTE_DETALLE] ADD  CONSTRAINT [DF_MCOMPROBANTE_DETALLE_fRegistro]  DEFAULT (getdate()) FOR [fRegistro]
GO
ALTER TABLE [dbo].[MHOJA] ADD  CONSTRAINT [DF_MHOJA_fRegistro]  DEFAULT (getdate()) FOR [fRegistro]
GO
ALTER TABLE [dbo].[MJORNADA] ADD  CONSTRAINT [DF_MJORNADA_fRegistro]  DEFAULT (getdate()) FOR [fRegistro]
GO
ALTER TABLE [dbo].[MJORNADA_EMPLEADO] ADD  CONSTRAINT [DF__DEMPLEADO__ffech__02FC7413]  DEFAULT (getdate()) FOR [fRegistro]
GO
ALTER TABLE [dbo].[MRESUMEN] ADD  CONSTRAINT [DF_MRESUMEN_fRegistro]  DEFAULT (getdate()) FOR [fRegistro]
GO
ALTER TABLE [dbo].[MARCHIVO]  WITH CHECK ADD  CONSTRAINT [FK_MARCHIVO_MARCHIVO_TIPO] FOREIGN KEY([iMArchivoTipo])
REFERENCES [dbo].[MARCHIVO_TIPO] ([iMArchivoTipo])
GO
ALTER TABLE [dbo].[MARCHIVO] CHECK CONSTRAINT [FK_MARCHIVO_MARCHIVO_TIPO]
GO
ALTER TABLE [dbo].[MCOMPROBANTE]  WITH CHECK ADD  CONSTRAINT [FK_MCOMPROBANTE_MDIVISA] FOREIGN KEY([iMDivisa])
REFERENCES [dbo].[MDIVISA] ([iMDivisa])
GO
ALTER TABLE [dbo].[MCOMPROBANTE] CHECK CONSTRAINT [FK_MCOMPROBANTE_MDIVISA]
GO
ALTER TABLE [dbo].[MCOMPROBANTE]  WITH CHECK ADD  CONSTRAINT [FK_MCOMPROBANTE_MHOJA] FOREIGN KEY([iMHoja])
REFERENCES [dbo].[MHOJA] ([iMHoja])
GO
ALTER TABLE [dbo].[MCOMPROBANTE] CHECK CONSTRAINT [FK_MCOMPROBANTE_MHOJA]
GO
ALTER TABLE [dbo].[MCOMPROBANTE]  WITH CHECK ADD  CONSTRAINT [FK_MCOMPROBANTE_MNATURALEZA] FOREIGN KEY([iMNaturaleza])
REFERENCES [dbo].[MNATURALEZA] ([iMNaturaleza])
GO
ALTER TABLE [dbo].[MCOMPROBANTE] CHECK CONSTRAINT [FK_MCOMPROBANTE_MNATURALEZA]
GO
ALTER TABLE [dbo].[MCOMPROBANTE]  WITH CHECK ADD  CONSTRAINT [FK_MCOMPROBANTE_MPROVEEDOR] FOREIGN KEY([iMProveedor])
REFERENCES [dbo].[MPROVEEDOR] ([iMProveedor])
GO
ALTER TABLE [dbo].[MCOMPROBANTE] CHECK CONSTRAINT [FK_MCOMPROBANTE_MPROVEEDOR]
GO
ALTER TABLE [dbo].[MCOMPROBANTE_DETALLE]  WITH CHECK ADD  CONSTRAINT [FK_MCOMPROBANTE_DETALLE_MCOMPROBANTE] FOREIGN KEY([iMComprobante])
REFERENCES [dbo].[MCOMPROBANTE] ([iMComprobante])
GO
ALTER TABLE [dbo].[MCOMPROBANTE_DETALLE] CHECK CONSTRAINT [FK_MCOMPROBANTE_DETALLE_MCOMPROBANTE]
GO
ALTER TABLE [dbo].[MCOMPROBANTE_DETALLE]  WITH CHECK ADD  CONSTRAINT [FK_MCOMPROBANTE_DETALLE_MUNIDAD_MEDIDA] FOREIGN KEY([iMUnidad])
REFERENCES [dbo].[MUNIDAD_MEDIDA] ([iMUnidad])
GO
ALTER TABLE [dbo].[MCOMPROBANTE_DETALLE] CHECK CONSTRAINT [FK_MCOMPROBANTE_DETALLE_MUNIDAD_MEDIDA]
GO
ALTER TABLE [dbo].[MHOJA]  WITH CHECK ADD  CONSTRAINT [FK_MHOJA_MARCHIVO] FOREIGN KEY([iMArchivo])
REFERENCES [dbo].[MARCHIVO] ([iMArchivo])
GO
ALTER TABLE [dbo].[MHOJA] CHECK CONSTRAINT [FK_MHOJA_MARCHIVO]
GO
ALTER TABLE [dbo].[MHOJA]  WITH CHECK ADD  CONSTRAINT [FK_MHOJA_MDOCUMENTO_TIPO] FOREIGN KEY([iMDocumentoTipo])
REFERENCES [dbo].[MDOCUMENTO_TIPO] ([iMDocumentoTipo])
GO
ALTER TABLE [dbo].[MHOJA] CHECK CONSTRAINT [FK_MHOJA_MDOCUMENTO_TIPO]
GO
ALTER TABLE [dbo].[MHOJA]  WITH CHECK ADD  CONSTRAINT [FK_MHOJA_MIDIOMA] FOREIGN KEY([iMIdioma])
REFERENCES [dbo].[MIDIOMA] ([iMIdioma])
GO
ALTER TABLE [dbo].[MHOJA] CHECK CONSTRAINT [FK_MHOJA_MIDIOMA]
GO
ALTER TABLE [dbo].[MJORNADA]  WITH CHECK ADD  CONSTRAINT [FK_MJORNADA_MHOJA] FOREIGN KEY([iMHoja])
REFERENCES [dbo].[MHOJA] ([iMHoja])
GO
ALTER TABLE [dbo].[MJORNADA] CHECK CONSTRAINT [FK_MJORNADA_MHOJA]
GO
ALTER TABLE [dbo].[MRESUMEN]  WITH CHECK ADD  CONSTRAINT [FK_MRESUMEN_MHOJA] FOREIGN KEY([iMHoja])
REFERENCES [dbo].[MHOJA] ([iMHoja])
GO
ALTER TABLE [dbo].[MRESUMEN] CHECK CONSTRAINT [FK_MRESUMEN_MHOJA]
GO
